.collapsible {
  background-color: #232323;
  border-bottom: 0.3px solid #e5a600;
  color: white;
  cursor: pointer;
  padding: 1px;
  text-align: left;
  width: 100%;
  height: 4rem;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

.activesetup:after {
  content: "\2212";
}

.activesetup,
.collapsible:hover {
  background-color: #000000;
}

.content {
  /* padding: 0 18px; */
  display: none;
  overflow: hidden;
}

.input-position {
  display: inline-block;
  outline: none;
  border: none;
  height: 1rem;
  width: 20rem;
  background: white;
}

.button-bee {
  border: 0.5px solid gray;
  box-sizing: border-box;
  background-color: #232323;
  cursor: pointer;
  height: 30px;
  width: 20rem;
  font-size: small;
  line-height: 30px;
  vertical-align: middle;
  margin-top: 0.1rem;
  padding: 0 5px;
  color: white;
  outline: none;
  text-align: center;
  outline: none;
}
.button-bee:hover {
  background-color: #000000;
}
.latlong-bee {
  box-sizing: border-box;
  width: 100%;
  font-size: small;
  vertical-align: middle;
  color: white;
  outline: none;
}

.latlong-bee div {
  font-size: 15px;
}
.container-bee {
  max-width: 30rem;
  background-color: #232323;
  color: white;
}

.button-bee-aoa {
  border: 0.5px solid gray;
  box-sizing: border-box;
  background-color: #232323;
  cursor: pointer;
  height: 30px;
  width: 20rem;
  font-size: small;
  line-height: 30px;
  vertical-align: middle;
  margin-top: 0.1rem;
  padding: 0 5px;
  color: white;
  outline: none;
  text-align: center;
  outline: none;
}
.button-bee-aoa:hover {
  background-color: #000000;
}

.aoa-config {
  display: block;
}

.labelModel {
  display: block;
  position: absolute;
  z-index: 100;
  border: 2px solid #ccc;
  background-color: #404040;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: 12rem;
  height: 12rem;
  color: white;
}

.labelModel:hover {
  color: red;
}

.dockingPanel {
  background-image: url("http://localhost:3000/assets/images/png/bee_logo.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

#myform {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  background-color: #232323;
  margin-top: 0.1rem;
  padding: 0 5px;
}

.title-position {
  width: 5rem;
}

.containerInput {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#myform label {
  margin: 0 1rem;
  font-size: small;
}

.submit-position {
  justify-self: end;
  height: 1rem;
  margin-left: 3rem;
  font-size: small;
}
.submit-setup {
  width: auto;
  display: flex;
  align-items: center;
}

#myformRotation {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 4rem;
  background-color: #232323;
  margin-top: 0.1rem;
  align-items: center;
  padding: 0 5px;
}

.title-rotation {
  width: 10rem;
}

#myformRotation label {
  margin: 0 3px;
  font-size: small;
}

.input-rotation {
  width: 4rem;
  height: 1rem;
}

.submit-rotation {
  height: 1rem;
  margin-left: auto;
  font-size: small;
}

.title-form {
  box-sizing: border-box;
  background-color: #232323;
  height: 4rem;
  font-size: small;
  line-height: 4rem;
  text-align: center;
  vertical-align: middle;
  margin-top: 0.1rem;
  padding: 0 5px;
}

.create-aoa {
  box-sizing: border-box;
  background-color: #fff;
  color: #000000;
  cursor: pointer;
  height: 2rem;
  font-size: small;
  vertical-align: middle;
  margin-top: 0.1rem;
  padding: 0 5px;
}

.delete-aoa {
  box-sizing: border-box;
  background-color: #fff;
  color: #000000;
  cursor: pointer;
  height: 2rem;
  font-size: small;
  vertical-align: middle;
  margin-top: 0.1rem;
  padding: 0 5px;
}

.button-bee:hover {
  background-color: #000000;
}
/* UWB */
#uwb-form {
  display: flex;
  width: auto;
  height: 4rem;
  flex-wrap: wrap;
  background-color: #232323;
  align-items: center;
  padding: 0 5px;
}

.uwb-title-position {
  width: 10rem;
}

.uwbcontainerInput {
  flex-grow: 3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#uwb-form label {
  margin: 0 3px;
  font-size: small;
}

.uwb-input-position {
  width: 4rem;
  height: 1rem;
}

.uwb-submit-position {
  height: 1rem;
  margin-left: auto;
  font-size: small;
}

#map {
  position: absolute;
  display: block;
  top: 10px;
  z-index: -9;
  right: 0;
  width: 300px;
  height: 300px;
}

#deck {
  position: absolute;
  display: block;
  top: 10px;
  z-index: -10;
  right: 0;
  width: 300px;
  height: 300px;
}

#infoData {
  font-size: 10px;
}

#infoPanel div {
  background-color: #232323;
  font-size: small;
}
#infoPanel div:first-child {
  text-align: center;
}

.workerMarker {
  background-image: url("http://localhost:3000/assets/images/png/img_dasloop_pin_online.png");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.plantMarker {
  background-image: url("http://localhost:3000/assets/images/png/img_gps_plant_pin_online.png");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
